body
{
   padding:0;
   margin:0;
   background-image:linear-gradient(#fff , #d3d8e8);
   width: 400px;
   height: 640px;
   font-family: helvetica , arial , sans-serif ;
}
.header
{
	background-color: rgb(59 , 89 ,152);
	height: 12,2% ;
	width : 341% ;
	font-family:tahoma;
	border: 1px solid darkblue ;
	
	
	
}